body.dark {
    background-color: rgb(4, 4, 20);
    color: white;
  }
  
  * {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
  }
  
  body {
    width: 80%;
    margin: 80px auto;
  }
  
  form {
    border: 1px solid rgba(153, 153, 153, 0.6);
  }
  
  form > div {
    margin: 30px 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    height: 20px;
    width: 40%;
  }

  .burger-menu {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu {
    display: none;
    color: #000000;
    font-size: 18px;
    gap: 1em;
    transition: all 0.3s;
    font-size: 2rem;
    text-decoration: none;
  }
  
  .menu.actif {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 15vw;
    margin-top: 20vh;
    transition: all 0.3s;
  }
  
  .menu li {
    list-style-type: none;
    font-family: Liberation-Serif;
    font-size: 2rem;
    margin: 10px 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #000000;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu li > a {
    text-decoration: none;
    color: #000000;
  }
  
  .menu li:hover {
    background-color: #666666;
    color: #000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .overlay.visible-overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  @media screen and (max-width: 858px) {
    .titre1,
    .titre3 {
      display: none;
    }
    .titre2 {
      height: 7vh;
      width: auto;
    }
    .burger-menu {
      display: flex;
    }
    .box-text2 {
      font-size: 1.4em;
    }
    .box-text > h2 {
      font-size: 1.4em;
    }
    .img-seconnecter {
      width: 80%;
      height: auto;
      margin-top: 4%;
    }
    .box-gauche > img,
    .box-droite > img {
      display: none;
    }
  }
  
  button {
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 16px 32px;
    cursor: pointer;
  }
  
  .message-error {
    border: 1px solid rgba(212, 42, 0, 1);
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
  }
  
  .message-success {
    border: 1px solid rgb(81, 150, 2);
    color: rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0.4);
    padding: 16px 32px;
    margin-bottom: 20px;
    display: none;
  }
  
  .radio {
    display: flex;
  }

  .big-title {
    font-size: 30px;
    font-weight: 0; 
    padding: 20px 40px;
  }

  .success {
    border: 1px solid rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0.4);
  }
  
  .message-error.visible {
    display: block;
  }
  
  #mon-slider {
    position: relative;
    height: 100vh;
  }
  
  .swiper-slide {
    height: 60vh;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .portfolio {
    padding: 80px 40px;
    background-color: #53585a;
  }
  .portfolio-elements {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .card {
    width: 30%;
    background-color: #fff;
  }
  
  .card-header {
    padding: 20px 40px;
  }
  .card-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: #222d3b;
  }

  .card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .filters {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .filters ul {
    display: flex;
    gap: 20px;
  }
  
  .filters li {
    color: #ffffff;
    background-color: rgb(25, 26, 112);
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .filters li.active {
    background-color: rgb(26, 22, 49);
  }
  
  .portfolio-elements {
    padding: 50px !important;
  }